logs/
temp/
translate_rp/
__pycache__/
*.pyc
*.pyo
*.pyd
.conda
.pytest_cache/
main.build/
main.dist/
main.exe
nuitka-crash-report.xml
main.onefile-build/
.env.local
tempCodeRunnerFile.py
.vscode/
.venv/
.env
dist
*.egg-info/
build/
